

body {
background-color: #FAEBE0;
}

hr{
background-color: black;
border-style: none;
height: 1px;
width: 80%;
}

h1{
  letter-spacing: 1px;
  font-size: 70px;
  color: #231E23;
}

h2{
  letter-spacing: 5px;
  font-size: 30px;
  color: #231E23;
}

h3{
  font-size: 30px;
  letter-spacing: 2px;
    color: #231E23;
}


p1{
  font-size: 25px;

}

img:hover{
  background-color: white;
}



.piece{
  background-color: pink;

}

.round{
  background-color: yellow;
}

.in{
text-decoration: underline;
  text-align: center;
}

.recpie{
text-indent: 25px;
text-align:center;
text-transform: uppercase;
}

.me{
  text-decoration: underline;
  text-align: center;
}

.method{

text-transform: capitalize;

}
